<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bug Tracker</title>
	<style>
		section{
			margin-bottom: 10px;
		}
		.closed{
			color : red;
			text-decoration: line-through;
			font-style: italic;
			font-weight: bold;
		}
		.stats, .bugname {
			font-size: 20pt;
		}
		ol{
			width: 500px;
			list-style: none;
			-webkit-padding-start: 0px;
		}
		li{
			margin-bottom: 5px;
			border : 1px solid gray;
			background-color: #e7e7e7;
			padding: 5px;
			border-radius: 4px;
		}
		.bugname{
			cursor: pointer;
		}

	</style>
	<script>
		/*
			Use Cases
			========
			1. Add a new bug 										- done
			2. List the bugs 										- done
			3. Toggle the 'closed' status of a bug 					- done
			4. Remove closed bugs 									- done
			5. Display stats (# of closed bugs / total # of bugs) 	- done
			6. Search for bugs
			7. Sort the bugs
			8. Improve the bug display
			9. Persist the bugs in the localStorage
			10. Display 'createdAt'
			11. Persist the bugs in the server
			12. Enable bug detail access through unique urls
		*/
	</script>
	<script src="angular.js"></script>
	<script>
		var bugTrackerApp = angular.module("bugTrackerApp", ["ng"]);

		bugTrackerApp.controller("bugsController", function($scope){
			$scope.bugs = [];
			
			$scope.addNew = function(newBugName){
				var newBug = {
					name : newBugName,
					isClosed : false
				}
				$scope.bugs.push(newBug);
			};

			$scope.toggle = function(bug){
				bug.isClosed = !bug.isClosed;
			};

			$scope.removeClosed = function(){
				for(var i= $scope.bugs.length-1; i >= 0; i--)
					if ($scope.bugs[i].isClosed)
						$scope.bugs.splice(i,1);
			};

			$scope.getClosedCount = function(){
				var result = 0;
				for(var i=0; i < $scope.bugs.length; i++)
					if ($scope.bugs[i].isClosed)
						++result;
				return result;
			};

			$scope.updatedBugName = '';

			$scope.setEdit = function(bug){
				$scope.updatedBugName = bug.name;
				$scope.bugToEdit = bug;
			};

			$scope.cancelEdit = function(evt){
				if (evt.keyCode === 13){
					$scope.bugToEdit.name = evt.target.value;
					$scope.bugToEdit = null;
					return;
				}
				if (evt.keyCode === 27){
					$scope.bugToEdit = null;
					return;
				}
				
			}

		});

	</script>
</head>
<body ng-app="bugTrackerApp">
	<h1>Bug Tracker</h1>
	<hr>
	<div class="content" ng-controller="bugsController">
		<section class="stats">
			<spand class="closed">{{getClosedCount()}}</spand>
			<span> / </span>
			<span>{{bugs.length}}</span>
		</section>
		<section class="search">
			<label for="">Search :</label>
			<input type="text" name="" id="">
			<label for="">Closed ? :</label>
			<input type="checkbox" name="" id="">
			<input type="button" value="Show All">
		</section>
		<section class="sort">
			<label for="">Order By:</label>
			<input type="text" name="" id="">
			<label for="">Descending ? :</label>
			<input type="checkbox" name="" id="">
		</section>
		<section class="edit">
			<label for="">Bug :</label>
			<input type="text" ng-model="newBug">
			<input type="button" value="Add New" ng-click="addNew(newBug)">
		</section>
		<section class="list">
			<ol>
				<li ng-repeat="bug in bugs" >

					<span ng-if="bug !== bugToEdit" class="bugname"  ng-class="{closed : bug.isClosed}" ng-click="setEdit(bug)">{{bug.name}}</span>
					<input class="bugname" ng-if="bug === bugToEdit" type="text" ng-model="updatedBugName"  ng-keyup="cancelEdit($event)">
					<input type="checkbox" ng-model="bug.isClosed">
					<div class="datetime"></div>
				</li>

				
			</ol>
			<input type="button" value="Remove Closed" ng-click="removeClosed()">
		</section>
	</div>
</body>
</html>
